<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Agente pessoal de i.a</h3>
    <form action="/enviar_dúvidas" method="POST">
        <label for="descricao">Descreva sua dúvida</label><br>
        <textarea name="descricao"></textarea><br>
        <button type="submit">enviar</button>
    </form>
        <button type="button" onclick="window.location.href='/central'">voltar</button>
</body>
</html>